@media only screen and (max-width: 600px) {
  html, body {
    width: 100vw;
    height: 100%;
  }



  .gitcontainer {

    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 37px;

  }

  .ash-mobile-min {

    /* The minimum width you want to adhere to */
    width: 550px;

    /* how large should each section be? */
    height: 70vh;

    /* the margin for the main content */
    margin: 20px;

    /* required for laytout */
    box-sizing: content-box;

    width: 400px;
    height: calc( 100% - 112px );
    margin: 20px;
    box-sizing: content-box;

    margin-top: calc( 100vh - (100vh / 2 ) ) !important;
    margin-bottom: calc( 100vh - (100vh / 2 ) ) !important;

    /*

    margin-top: calc(100vh - 50px) !important;
    margin-bottom: calc(100vh - 50px) !important;

    */
  }


  .ash-mobile-min {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 400px;
    height: 70vh;
    margin: 20px;
    box-sizing: content-box;
    width: 400px;
    height: calc(100% - 54px);
    margin: 20px;
    margin-bottom: 0px;
    box-sizing: content-box;
  }



  .fire {
    margin: 0 auto;
    position: relative;
  }

  .rock {
    width: 100vw;
    height: 50vh;
    display: flex;
    position: relative;
  }
}
