@media (max-width:768px)  {

  .topbar {
     display: none !important;
   }
   #nav-menu {
     display: none;
   }
   .intro-text {
     font-size: 35px !important;
   }
   .menu-widget {
     display: block !important;
   }
   .profile-icon {
     display: none !important;
   }
}
