@media (max-width:768px)  {

   #nav-menu {
     display: none;
   }
   .intro-text,
   .bg-style-name {
     font-size: 35px !important;
   }
   .menu-widget {
     display: block !important;
   }
   .profile-icon {
     display: none !important;
   }
   

   }
}
