.timeline {
  position: relative;
}
  .timeline-item {
    position: relative;
    margin-bottom: 50px;
  }
  .timeline-line {
    width: 1px;
    left: 5px;
    background-color: #3c3e3d;
    height: calc(100% - 2rem);
    position: absolute;
    margin-top: 9px;
  }
  .timeline-circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid #3c3e3d;
    position: absolute;
    background-color: #272727;
    left: -2px;
    margin-top: 9px;
  }
  .timeline-heading {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
  }
  .timeline-date {
    font-size: 16px;
    font-weight: 300;
    margin-top: -10px;
    text-transform: uppercase;
  }
  .timeline-description {
    font-weight: 300;
    color: #d8d8d8;
  }

  .timeline-item {
    margin-left: 30px;
  }

  .mb-0 {
    margin-bottom: 0px;
  }
